{% extends 'adminbase.html' %} {% block main %}

<div class="column is-12">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Ticket List:
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <div class="content">
            <p class="subtitle">All Tickets:</p>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>operation:</th>
                        <th>user:</th>
                        <th>created at:</th>
                        <th>title:</th>
                        <th>status:</th>
                    </tr>
                </thead>
                {% for record in ticket %}
                <tr>
                    <td>
                        <a class="button is-danger" href="{% url 'sspanel:admin_ticket_detail' record.pk %}">process</a>
                    </td>
                    <td>{{ record.user }}</td>
                    <td>{{ record.time }}</td>
                    <td>{{ record.title }}</td>
                    <td>{{ record.get_status_display }}</td>
                </tr>
                {% empty %}
                <h2 class="subtitle">
                    no tickets yet
                </h2>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock main %}