{% extends 'adminbase.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    User Analysis:
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ total_user_num }}</p>
                <p class="subtitle">Total User</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ alive_user_count }}</p>
                <p class="subtitle">Online User</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ today_checked_user_count }}</p>
                <p class="subtitle">Checked in Today</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ today_register_user_count }}</p>
                <p class="subtitle">Registered Today</p>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <article class="message is-info">
                    <div class="message-body">
                        流量排行榜
                    </div>
                </article>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Traffic</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in traffic_users %}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td>{{ u.human_used_traffic }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <article class="message is-warning">
                    <div class="message-body">
                        土豪排行榜
                    </div>
                </article>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in rich_users_data %}
                        <tr>
                            <td>{{ u.user__username }}</td>
                            <td>{{ u.amount }} yuan</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <article class="message is-success">
                    <div class="message-body">
                        Registered Today
                    </div>
                </article>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Inviter</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in today_register_user %}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td>{{ u.inviter }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}