{% extends 'base.html' %} {% block main %} {% load ehcofilter %}

<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Password Reset Successfully
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <p class="title">Password Reset Successfully</p>
        <a class="button is-success is-outlined" href="{% url 'sspanel:login' %}">Return to Login Page</a></h1>
    </div>
</div>
{% endblock main %}