{% load ehcofilter %}
<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <title>{% settings_value "TITLE" %}</title>
    {% include "basehead.html" %}
</head>

<body>
    <nav class="navbar is-primary is-spaced">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'img/logo/logo.png' %}" alt="logo">
            </a>
            <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenuColorprimary-example" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'sspanel:index' %}">Index</a>
                <a class="navbar-item" href="{% url 'sspanel:help' %}">User Guide</a>
                <a class="navbar-item" href="{% url 'sspanel:invite_code' %}">Invite Code</a>
                <a class="navbar-item" href="{% url 'sspanel:client' %}">Client</a>
                <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
                    <span class="navbar-item">
                        <a class="button is-primary is-inverted" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <span>{{ user.username }}</span>
                        </a>
                    </span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-users"></i>
                            </span>
                            <span>UserCenter</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'sspanel:logout' %}">
                            <span class="icon">
                                <i class="fa fa-sign-out"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
                <!-- 手机界面菜单-->
                <div class="is-hidden-tablet">
                    <a class="navbar-item is-active">Panel Management</a>
                    <a class="navbar-item" href="{% url 'sspanel:system_status' %}">System Status</a>
                    <a class="navbar-item" href="{% url 'sspanel:admin_invite' %}">Invitation Related</a>
                    <a class="navbar-item" href="{% url 'sspanel:admin_announcements' %}">Announcement Management</a>
                    <a class="navbar-item" href="{% url 'sspanel:admin_tickets' %}">Ticket Management</a>
                    <a class="navbar-item is-active">Node Management</a>
                    <a class="navbar-item" href="{% url 'sspanel:admin_node_list' %}">Node List</a>
                    <a class="navbar-item" href="{% url 'sspanel:user_online_ip_log' %}">IP online</a>
                    <a class="navbar-item is-active">Transaction Management</a>
                    <a class="navbar-item" href="{% url 'sspanel:admin_charge' %}">充值管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:admin_goods' %}">Goods Management</a>
                    <a class="navbar-item" href="{% url 'sspanel:purchase_history' %}">Purchase log</a>
                    <a class="navbar-item is-active">User Management</a>
                    <a class="navbar-item" href="{% url 'sspanel:admin_user_list' %}">User List</a>
                    <a class="navbar-item" href="{% url 'sspanel:admin_user_status' %}">User Analysis</a>
                    <a class="navbar-item is-active">面板跳转</a>
                    <a class="navbar-item" href="/admin">Data Panel</a>
                    <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">User Panel</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-small is-primary">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    {% settings_value "SUBTITLE" %}
                </h1>
            </div>
        </div>
    </section>
    <br />
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-hidden-mobile">
                <div class="box">
                    {% if user.is_authenticated %}
                    <aside class="menu">
                        <p class="menu-label">
                            Panel Management
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:system_status' %}">System Status</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:admin_invite' %}">Invitation Related</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:admin_announcements' %}">Announcement Management</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:admin_tickets' %}">Ticket Ma</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Node Management
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:admin_node_list' %}">Node List</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:user_online_ip_log' %}">online IP</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Transaction Management
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:admin_charge' %}">充值管理</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:admin_goods' %}">Goods Management</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:purchase_history' %}">Purchase Log</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            User Management
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:admin_user_list' %}">User List</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:admin_user_status' %}">User Analysis</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            面板跳转
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="/admin">Data Panel</a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:userinfo' %}">User Panel</a>
                            </li>
                        </ul>
                        {% endif %}
                    </aside>
                </div>
            </div>
            <div class="column is-10">
                {% block main %} {% endblock main%}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <p class="copyright">&copy; 2020
                        <a href="https://github.com/Ehco1996">GitHub</a>
                    </p>
                </p>
            </div>
        </div>
    </footer>
</body>
<!--整站消息提醒功能 -->
{% if messages %}
<script>
    {% for message in messages %}
    swal("{{ message.extra_tags }}", '{{ message }}', '{{ message.level_tag }}');
    {% endfor %}
</script>
{% endif %}

</html>