{% load ehcofilter %}
<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <title>{% settings_value "TITLE" %}</title>
    {% include "basehead.html" %}
</head>

<body>
    <nav class="navbar is-info is-spaced">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'img/logo/logo.png' %}" alt="logo" width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenuColorprimary-example" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'sspanel:index' %}">Index</a>
                <a class="navbar-item" href="{% url 'sspanel:help' %}">User Guide</a>
                <a class="navbar-item" href="{% url 'sspanel:invite_code' %}">Invite Code</a>
                {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'sspanel:client' %}">Download Client</a>
                <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
                    <span class="navbar-item">
                        <a class="button is-info is-inverted" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <span>{{ user.username }}</span>
                        </a>
                    </span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-users"></i>
                            </span>
                            <span>UserCenter</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'sspanel:logout' %}">
                            <span class="icon">
                                <i class="fa fa-sign-out"></i>
                            </span>
                            <span>Log out</span>
                        </a>
                    </div>
                </div>
                <!-- 手机界面菜单-->
                <div class="is-hidden-tablet">
                    <a class="navbar-item is-active">My info</a>
                    <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">UserCenter</a>
                    <a class="navbar-item" href="{% url 'sspanel:announcement' %}">Announcement</a>
                    <a class="navbar-item" href="{% url 'sspanel:tickets' %}">Contact</a>
                    <a class="navbar-item is-active">Nodes related</a>
                    <a class="navbar-item" href="{% url 'sspanel:nodeinfo' %}">Nodes info</a>
                    <a class="navbar-item" href="{% url 'sspanel:user_traffic_log' %}">Traffic log</a>
                    <a class="navbar-item is-active">Transation related</a>
                    <a class="navbar-item" href="{% url 'sspanel:donate' %}">捐赠付费</a>
                    <a class="navbar-item" href="{% url 'sspanel:chargecenter' %}">充值界面</a>
                    <a class="navbar-item" href="{% url 'sspanel:shop' %}">Goods</a>
                    <a class="navbar-item" href="{% url 'sspanel:purchaselog' %}">Purchase log</a>
                    <a class="navbar-item is-active">Invitation related</a>
                    <a class="navbar-item" href="{% url 'sspanel:aff_invite' %}">邀请返利</a>
                    <a class="navbar-item" href="{% url 'sspanel:aff_status' %}">Rebate log</a>
                    {% if perms.sspanel %}
                    <a class="navbar-item is-active">Management Panel</a>
                    <a class="navbar-item" href="/admin">Data Panel</a>
                    <a class="navbar-item" href="{% url 'sspanel:system_status' %}">Admin Panel</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <section class="hero is-small is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{% settings_value "SUBTITLE" %}</h1>
            </div>
        </div>
    </section>
    <hr>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-hidden-mobile">
                <div class="box">
                    {% if user.is_authenticated %}
                    <aside class="menu">
                        <p class="menu-label">
                            My info:
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a class="" href="{% url 'sspanel:userinfo' %}">UserCenter</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:announcement' %}">Announcement</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:tickets' %}">Contact</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Nodes related:
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:nodeinfo' %}">Nodes info</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:user_traffic_log' %}">Traffic log</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Transaction related
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:donate' %}">捐赠付费</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:chargecenter' %}">充值界面</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:shop' %}">Goods</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:purchaselog' %}">Purchase log</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Invitation related
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:aff_invite' %}">邀请返利</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:aff_status' %}">Rebate log</a>
                            </li>
                        </ul>
                        {% if perms.sspanel %}
                        <p class="menu-label">
                            Management Panel
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="/admin">Data Panel</a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:system_status' %}">Admin Panel</a>
                            </li>
                        </ul>
                        {% endif %} {% else %}
                        {% endif %}
                    </aside>
                </div>
            </div>

            <div class="column is-10">
                {% block main %} {% endblock main%}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <p class="copyright">&copy; 2020·
                        <a href="https://github.com/Ehco1996">GitHub</a>
                    </p>
                </p>
            </div>
        </div>
    </footer>
</body>
<!--整站消息提醒功能 TODO 这里写成函数-->
{% if messages %}
<script>
    {% for message in messages %}
    swal("{{ message.extra_tags }}", '{{ message }}', '{{ message.level_tag }}');
    {% endfor %}
</script>
{% endif %}

</html>