{% extends 'base.html' %} {% block main %}

<div class="column is-12">
    <section class="hero is-warning is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    My Affiliate:
                </h1>
                <h2 class="subtitle">
                    Every time your affiliates (user registered through your <strong>Invite Code/Affiliate Link</strong>) <strong>did a purchase</strong>
                    <p>you will get a <strong>{{ invite_percent }}%</strong> rebate.
                    </p>
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <div>
            <p class="subtitle">My affiliate link: </p>
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input is-rounded is-focused" id="id-sub-link" value="{{ ref_link }}" readonly>
                </p>
                <p class="control">
                    <a class="button is-rounded" id="id-button-clip" data-clipboard-target="#id-sub-link">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
            <span class="copied" hidden="true">Coped</span>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <p class="subtitle">My invite code: </p>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>created at</th>
                        <th>invite code</th>
                        <th>is used</th>
                    </tr>
                </thead>
                {% for code in code_list %}
                <tr>
                    <td>{{ code.created_at | date:"m,d,yyyy" }}</td>
                    <td>{{ code.code }}</td>
                    <td>{{ code.used }}</td>
                </tr>
                {% endfor %}
            </table>
            <p align="right"><a class="button is-outlined is-info" id="id-gen-invitecode">generate {{ invitecode_num }} invite codes
                </a></p>
        </div>
    </div>
</div>
<script>
    // 端口重置Ajax部分
    var InviteButton = $("#id-gen-invitecode")
    var gencode = function () {
        url = "{% url 'api:geninvitecode' %}"
        $.getJSON(url, function (results) {
            swal(results.title, results.subtitle, results.status)
        })
    }
    InviteButton.click(gencode)
    // 点击复制
    var clip = new Clipboard('#id-button-clip');
    clip.on('success', function (e) {
        $('.copied').show();
        $('.copied').fadeOut(1000);
    });
</script> {% endblock main %}