{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-warning is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Gift Card Center:
                </h1>
                <h2 class="subtitle">
                  Input Your Gift Card Code Below:
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <nav class="level box ">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">user:</p>
                <p class="title">{{ user }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">balance:</p>
                <p class="title">
                    <code>{{ user.balance }}yuan</code>
                </p>
            </div>
        </div>
    </nav>
    <div class="box ">
        <form class="form" method="post">
            {% csrf_token %}
            <input type="text" name="chargecode" class="input " required="" id="chargecode" placeholder="input your gift card code">
            <hr/>
            <div class="is-grouped">
                <button type="submit" class="button is-danger is-outlined ">Pop Up</button>
            </div>
        </form>
    </div>
    <div class="box">
        <div class="content">
            <p class="subtitle">Pop Up Log:</p>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>date:</th>
                        <th>code:</th>
                        <th>amount:</th>
                        <th>is used:</th>
                    </tr>
                </thead>
                {% for code in codelist %}
                <tr>
                    <td>{{ code.time|date:"mm,dd,yyyy" }}</td>
                    <td>{{ code.code }}</td>
                    <td>{{ code.number }}</td>
                    <td>{{ code.isused }}</td>
                </tr>
                {% empty %}
                <h2 class="subtitle">
                    no payment yet
                </h2>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock main %}