{% extends 'base.html' %} {% block main %} {% load static %}
    <div class="box">
        <div class="container">
            <h1 class="title">
                Recommended Client:
            </h1>
            <h2 class="subtitle">
                Subscription Link is at 「UserCenter」->「连接信息」->「Subscription Link」<br>
                For iOS user Shadowrocket is recommended, for other platform please use Clash<br>
                For Shadowrocket please subscribe「Subscribe SS/Vmess」, For Clash please subscribe「Subscribe Clash」<br>
                <a href="https://github.com/Ehco1996/django-sspanel/wiki/Clash%E4%BD%BF%E7%94%A8%E6%96%B9%E6%B3%95"
                   target="_blank">Check here for a detailed guide</a>
            </h2>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Andriod:</p>
                        <p class="subtitle">download direct or play store:</p>
                        <a class="subtitle" href="https://github.com/Kr328/ClashForAndroid/releases" target="_blank">ClashForAndroid</a>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">iOS:</p>
                        <p class="subtitle">AppStore:</p>
                        <a class="subtitle" href="https://itunes.apple.com/cn/app/shadowrocket/id932747118?mt=8"
                           target="_blank">Shadowrocket</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Mac os:</p>
                        <p class="subtitle">Download:</p>
                        <a class="subtitle" href="https://github.com/yichengchen/clashX/releases"
                           target="_blank">ClashX</a>
                        <br>
                        <br>
                        <br>
                        <p class="title">Clash Core</p>
                        <p class="subtitle">For Unix User</p>
                        <a class="subtitle" href="https://github.com/Dreamacro/clash/releases">Click here</a>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Windows</p>
                    <div class="content">
                        <p class="subtitle">
                            <a href="https://github.com/Fndroid/clash_for_windows_pkg/releases">Clash for Windows </a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-info">
            </article>
        </div>

    </div>
    </div>
{% endblock main %}
