{% extends 'base.html' %} {% load ehcofilter %} {% block main %} {% load static %} {% load ehcofilter %}
<div class="column is-12">
    <section class="hero is-primary is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Donor List:
                </h1>
                <h2 class="subtitle">
                    Money you donated will be your balance
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor">
        <div class="tile is-5 is-vertical is-parent">
            {% settings_value "USE_ALIPAY" as use_alipay %}
            {% if use_alipay %}
            <div class="tile box is-child">
                <p class="subtitle">Input
                    <strong>Pop up/donate amount</strong>
                </p>
                <p>点击Submit会弹出
                    <strong>支付宝二维码</strong>
                    <br>扫描二维码确认付款之后
                    <br>账户里会增加对应的金额</p>
                <strong>付完款之后要按红色的确认按钮！</strong>
                <hr>
                <div class="content">
                    <div class="field is-grouped">
                        <div class="control has-icons-left">
                            <div class="control">
                                <input id="id-input-payinput" class="input" type="number" step="1"
                                    placeholder="at least 1 yuan: " required>
                            </div>
                            <div class="icon  is-left">
                                <i class="fab fa-alipay"></i>
                            </div>
                        </div>
                        <p class="control">
                            <button class="button is-outlined is-info is-rounded" id="id-button-payrequest">Submit</button>
                        </p>
                    </div>
                    <div id="id-qrcode-box" class="is-hidden">
                        <div id="id-qrcode-canvas"></div>
                        <hr>
                        <p>
                            <strong>Click Confirm button after payment succeed</strong>
                        </p>
                        <p id="id-msg-line"></p>
                        <div class="control">
                            <button id="id-button-query" class="button is-outlined is-danger is-rounded"
                                href="#">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="tile box is-child">
                <p class="subtitle">Pop up through MoneyCode:</p>
                <hr>
                <p class="subtitle">Scan below Alipay QRCode to purchase MoneyCode</p>
                <figure class="image">
                    <img src="{% static '/img/alipay.png'%}">
                </figure>
            </div>
            {% endif %}
        </div>
        <div class="tile is-7 is-vertical is-parent">
            <div class="tile box is-child">
                <div class="content">
                    <table class="table is-striped">
                        <thead>
                            <tr>
                                <th>donor:</th>
                                <th>ammount donated:</th>
                                <th>at:</th>
                            </tr>
                        </thead>
                        {% for donate in donatelist %}
                        <tr>
                            <td>{{ donate.user|mix_name:donate.user }}</td>
                            <td>{{ donate.money }} yuan</td>
                            <td>{{ donate.time|date:"m,d,yyyy" }}</td>
                        </tr>
                        {% empty %}
                        <p class="subtitle">
                            No donation yet
                        </p>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 支付请求 部分
    var requestButton = $("#id-button-payrequest")
    var payinput = $("#id-input-payinput")
    var codeBox = $("#id-qrcode-box")
    var msgline = $("#id-msg-line")
    var url = "{% url 'api:order' %}"
    var payrequest = function () {
        paynum = payinput.val()
        if (paynum >= 1 && paynum % 1 == 0) {
            data = {
                num: paynum,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            requestButton.attr("disabled", "disabled")
            $.post(url, data, function (results) {
                codeBox.attr('class', '')
                // 追加二维码图片
                info = results.info
                qrcode_url = results.qrcode_url
                $("#id-qrcode-canvas").qrcode(qrcode_url)
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('Error', 'The amount must be an integer and at least 1 yuan', 'error')
        }
    }
    requestButton.click(payrequest)

    // 支付查询部分
    queryButton = $("#id-button-query")
    var payquery = function () {
        msgline.html('processing, please hang on...')
        $.getJSON(url, function (results) {
            info = results.info
            swal(info.title, info.subtitle, info.status)
        })
    }
    queryButton.click(payquery)
</script> {% endblock main %}