{% extends 'base.html' %} {% load ehcofilter %}{% block main %}
<br /> {% if user.is_authenticated %}
<div class="box">
    <p class="title">Welcome: {{ user.username }}</p>
    <p class="subtitle">点击下方按钮进入UserCenter </p>
    <button class="button">
        <a href="{% url 'sspanel:userinfo' %}">进入</a>
    </button>

</div>
{% else %}
<div class="column box ">
    {% settings_value "ALLOW_REGISTER" as allow_register %}
    {% if allow_register is True %}
    <h1 class="title"> Register</h1>
    <h2 class="subtitle">No account? Registre one!</h2>
    <a class="button is-primary is-outlined" href="{% url 'sspanel:register' %}">Register</a>
    {% else %}
    <h1 class="title"> Sorry</h1>
    <h2 class="subtitle">Registration is currently unavailable</h2>
    {% endif %}
</div>
<br />
<div class="column box ">
    <h1 class="title"> Login</h1>
    <a class="button is-danger is-outlined" href="{% url 'sspanel:login' %}">Login</a>
</div>
<br /> {% endif %} {% endblock main %}