{% extends 'base.html' %} {% block main %}

<div class="column is-12">
    <section class="hero is-light is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    New Ticket:
                </h1>
                <h2 class="subtitle">
                    In
                    <strong>Markdown</strong>
                    Format
                </h2>
            </div>
        </div>
    </section>
</div>

<div class="column is-12">
    <div class="box">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="control">
                <input class="input" name="title" type="text" placeholder="title" maxlength="32">
                <br>
                <br>
                <textarea class="textarea" id="id-markdown-body" name="body" type="text" placeholder="content" rows="10"></textarea>
            </div>
            <div class="is-grouped">
                <button type="submit" class="button is-danger is-outlined ">Confirm</button>
                <a class="button is-success is-outlined" href="{% url 'sspanel:tickets' %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script>
    var simplemde = new SimpleMDE({ spellChecker: false, element: $("#id-markdown-body")[0] });
</script> {% endblock main %}